* {
  margin: 0px;
  padding: 0px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(239, 182, 117);
  flex-direction: column;
}
.card {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
}

.flex2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: blueviolet;
}
.footer{
    position: absolute;
    bottom: 0px;
}